.sidebar {
  flex: 1;
  background: white;
  top: 50px;
}

.sidebarWrapper {
  padding: 20px;
  color: rgb(105, 102, 102);
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}

/* .sidebarListItem.active, .sidebarListItem:hover{
      background-color: rgb(240, 240, 250);
  } */
.sidebarListItem:hover {
  background-color: rgb(240, 240, 250);
}

.link {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1340px;
  }
}
