.top-header{
    padding-top: 5px;
    color: primary;
    height: 35px;
}
.top-header a{
    color:rgb(119, 194, 7);
    font-weight: bold;
}
.top-header li{
    display: flex;
    gap: 4px;
    margin-right: 20px;
}
.middle-header img{
    height: 80px;
}
.middle-header{
    text-align: center;
}
.middle-header nav{
    background-color: black;
    line-height: 40px;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
}
nav a:hover {
    background-color: rgb(107, 175, 5);
    text-decoration: none;
    color: white;
  }
.cart{
    text-align: right;
    height: 20px;
    width: 15px;
}
.cart:hover{
    text-decoration: none;
}
.cart_link{
    text-decoration: none;
    padding: 10px;
    background-color: rgb(119, 194, 7);
}
@media only screen and (max-width: 600px) {
    .hideHeader{
        display: none;
    }
}