.orderList {
  display: flex;
}

.orderListRight {
  flex: 4;
}

.orderImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.deleteorderIcon {
  color: red;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .orderList {
    display: flex;
    flex-direction: column;
  }
}
