.sidebar {
  flex: 1;
  /* height: calc(100vh - 50px); */
  height: 100vh;
  /* background-color: rgb(251, 251, 255); */
  background: rgb(98, 162, 189);
  background-color: #d9d9d9;
  background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
  position: sticky;
  top: 50px;
}

.sidebarWrapper {
  padding: 20px;
  color: rgb(105, 102, 102);
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px !important;
  color: rgb(66, 56, 56);
  text-align: start;
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

/* .sidebarListItem.active, .sidebarListItem:hover{
      background-color: rgb(240, 240, 250);
  } */
.sidebarListItem:hover {
  background-color: rgb(240, 240, 250);
}

.sidebarIcon {
  margin-right: 5px;
  font-style: 20px !important;
}

.link {
  text-decoration: none;
  color: inherit;
}
